.header {
  max-width: 1040px;
  padding: 40px 200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.menu-header {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-header a {
  text-decoration: none;
  text-transform: uppercase;
  color: #181919;
}

.menu-header a::after {
  content: "";
  display: block;
  height: 1px;
  width: 0%;
  background: #181919;
  margin-top: 4px;
  transition: 0.3s;
  position: relative;
}

.menu-header a:hover::after {
  width: 100%;
}
.button {
  display: none;
}

@media (max-width: 950px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
  .menu-header a {
    background: #f2f6ff;
    padding: 15px 10px;
    border-radius: 4px;
  }
  .menu-header a::after {
    display: none;
  }
  .menu-header li {
  }
}
