.introducao {
  max-width: 1040px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.introducao h1 {
  font-size: 2.3rem;
  line-height: 1.125;
  margin-bottom: 30px;
}

.introducao p {
  line-height: 1.5;
}

/*display: block;
  position: relative;
  margin: 0 auto;
  align-items: center;
  
}

.titulo-image p {
  font-size: 1rem;
  color: #b0b6bd;
}
   */

@media (max-width: 730px) {
  .introducao {
    display: block;
    position: relative;
    margin: 0 auto;
  }
  .introducao-img {
    display: none;
  }
}
